:root[data-theme="light"] {
    --text: #000000;
    --background: #ffffff;
    --primary: rgb(158, 255, 97);
    --secondary: #f1ef88;
    --accent: #56dae1;
}

:root[data-theme="light"] {
    --primary-rgba005: rgba(158, 255, 97, 0.3);
    --approved-color: #e6f9e8;
}

:root[data-theme="light"] {
    --text-50: #f2f2f2;
    --text-100: #e6e6e6;
    --text-200: #cccccc;
    --text-300: #b3b3b3;
    --text-400: #999999;
    --text-500: #808080;
    --text-600: #666666;
    --text-700: #4d4d4d;
    --text-800: #333333;
    --text-900: #1a1a1a;
    --text-950: #0d0d0d;

    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;

    --primary-950: #efffe5;
    --primary-900: #e0ffcc;
    --primary-800: #c0ff99;
    --primary-700: #a1ff66;
    --primary-600: #81ff33;
    --primary-500: #62ff00;
    --primary-400: #4ecc00;
    --primary-300: #3b9900;
    --primary-200: #276600;
    --primary-100: #143300;
    --primary-50: #0a1a00;

    --secondary-950: #fcfce8;
    --secondary-900: #faf9d1;
    --secondary-800: #f4f3a4;
    --secondary-700: #efed76;
    --secondary-600: #eae748;
    --secondary-500: #e4e11b;
    --secondary-400: #b7b415;
    --secondary-300: #898710;
    --secondary-200: #5b5a0b;
    --secondary-100: #2e2d05;
    --secondary-50: #171603;

    --accent-950: #e9fafb;
    --accent-900: #d4f6f7;
    --accent-800: #a8ecf0;
    --accent-700: #7de3e8;
    --accent-600: #52d9e0;
    --accent-500: #26d0d9;
    --accent-400: #1fa6ad;
    --accent-300: #177d82;
    --accent-200: #0f5357;
    --accent-100: #082a2b;
    --accent-50: #041516;
}

:root[data-theme="light"] input,
:root[data-theme="light"] td,
:root[data-theme="light"] select,
:root[data-theme="light"] .user-container,
:root[data-theme="light"] .transactions-container {
    background-color: var(--background);
}

:root[data-theme="light"] tr:hover td,
:root[data-theme="light"] a:hover td {
    background-color: var(--accent-800);
}

:root[data-theme="light"] .transactions-container td,
:root[data-theme="light"] .info-row {
    background-color: var(--text-100);
}
