form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-100);
    padding: 5vh 5vw;
    border-radius: 20px;
    width: fit-content;
}

.container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    max-width: 500px;
    row-gap: 1em;
}

.imgcontainer {
    margin-bottom: 5vh;
}

#login,
#register {
    min-height: calc(100vh - 2 * var(--header-height));
    align-items: center;
}

.form-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form-end * {
    font-size: 1.2em;
    font-weight: 500;
}
