.button {
    padding: min(1.5vh, 10px) min(2vw, 30px);
    background-color: var(--secondary);
    color: var(--button-text);
    border-radius: 0.4em;
    text-decoration: none;
    transition: border-color 0.25s, background-color 0.25s, color 0.25s,
        fill 0.25s;
    border: solid 1px transparent;
    max-width: fit-content;

    display: flex;
    flex-direction: row;
    column-gap: 0.6vw;
    fill: var(--background);
    margin-top: auto;
    margin-bottom: auto;
}

.button:hover {
    background-color: var(--primary);
    border-color: var(--accent);
    fill: var(--button-text);
}

.button p {
    color: inherit;
    font-weight: 500;
    font-size: large;
    margin: 0;
}

.button svg {
    fill: inherit;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}
