.faction-snippet {
    grid-row: 2;
    grid-column: 1 / span 3;
    width: 100%;
    height: 100%;
    display: block;
    gap: 0;
    background: var(--background-100);
    border-radius: 10px;
    overflow-y: scroll;
}

.faction-box {
    width: 85vw;
    margin-top: 5vh;
    height: fit-content;
}

.factions-header {
    max-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    place-items: center;
}

.factions-header h2 {
    color: var(--text);
    font-size: 2em;
}

.faction-description {
    font-size: 0.95rem;
    color: var(--text-600);
}

.faction-meta {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}

.currency {
    font-weight: bold;
    color: #0070f3;
}

.amount {
    background: rgba(0, 0, 0, 0.2);
    padding: 0.2rem 0.6rem;
    border-radius: 8px;
    font-weight: bold;
}

.status {
    font-size: 0.9rem;
    padding: 1.5vh 1.5vw;
    border-radius: 8px;
    width: fit-content;
    margin: auto;
    max-height: 40px;
    place-content: center;
}

.approved {
    background: var(--primary-100);
}

.not-approved {
    background: #fbeaea;
    color: #b91c1c;
}
