table {
    background-color: var(--background-200);
    border-collapse: collapse;
    width: 100%;
}

th {
    padding: 3vh 2vw;
    text-align: center;
    border-bottom: 2px solid var(--background-300);
    background-color: var(--primary-800);
    color: var(--button-text);
    position: sticky;
    top: 0;

    scroll-snap-stop: always;
    scroll-snap-align: end;
}

td {
    padding: 2vh 2vw;
    text-align: center;
    border-bottom: 1px solid var(--background-300);
    transition: background 0.5s ease;
    vertical-align: middle;

    scroll-snap-stop: always;
    scroll-snap-align: end;
}

tr:hover td,
a:hover td {
    background-color: var(--accent-800);
    color: var(--button-text);
}

a:hover td div {
    color: var(--button-text);
}

tr:last-child td,
a:last-child td {
    border-bottom: none;
}

table a {
    font-size: 1em;
}

table .button {
    max-width: none;
    place-content: center;
}

.table-container {
    max-height: 100%;
    overflow: scroll;
    scrollbar-width: none;
    border-radius: 10px;
    scroll-snap-type: both mandatory;
}

tr:hover .amount,
a:hover .amount {
    color: var(--button-text);
    background-color: var(--accent-950);
}

tr:hover td .status,
a:hover td .status {
    color: var(--text-900);
}

tr:hover td .not-approved,
a:hover td .not-approved {
    color: #fbeaea;
    background: #b91c1c;
}
