p {
    font-weight: 400;
    font-size: 1.2em;
    margin: 0;
}

h1 {
    font-weight: 900;
    font-size: 3.7em;
}

h2 {
    font-weight: 700;
    font-size: 2em;
    min-height: 7vh;
    justify-content: center;
    align-content: center;
}

h3 {
    font-weight: 500;
    font-size: 1.8m;
}
