body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
    max-width: 100vw;
    flex-direction: column;
}

a {
    text-decoration: underline var(--accent-600);
}

main {
    margin: auto;
    margin-top: calc(var(--header-height));
    width: 100vw;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

input[type="text"],
input[type="password"] {
    border: none;
    background-color: var(--secondary);
    height: 2vh;
    padding: 1vh 1vw;
    width: 90%;
    border-radius: 20px;
    border: 1px solid var(--accent);
}

p {
    font-weight: 500;
    font-size: large;
    margin: 0;
}

div {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}
